# .gitignore


node_modules/


dist/
build/
out/


npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.cache/
.expo/
.expo-shared/


.env
.env.local
.env.*.local


.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp


ios/Pods/
android/.gradle/
android/app/build/
*.iml


bin/
obj/
*.dll
*.so
*.dylib
